@font-face {
  font-family: Overpass;
  font-weight: 500;
  src: url('~@/assets/fonts/Overpass-Medium.ttf');
}
@font-face {
  font-family: Overpass;
  font-weight: 600;
  src: url('~@/assets/fonts/Overpass-SemiBold.ttf');
}
@font-face {
  font-family: Overpass;
  font-weight: 700;
  src: url('~@/assets/fonts/Overpass-Bold.ttf');
}
@font-face {
  font-family: Overpass;
  font-weight: 900;
  src: url('~@/assets/fonts/Overpass-Black.ttf');
}